In [1]:
import pandas as pd

ci_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
cc_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

indetifiers = pd.read_csv(ci_filepath)
characteristics = pd.read_csv(cc_filepath)

In [2]:
# characteristics.info()
# characteristics.head()

# indetifiers.head()
indetifiers["PersonBirthDate_DT"] = pd.to_datetime(indetifiers["PersonBirthDate"],format = "%Y-%m-%d")
indetifiers["ExpectedPersonBirthDate_DT"] = pd.to_datetime(indetifiers["ExpectedPersonBirthDate"], format ="%Y-%m-%d" )
indetifiers["PersonDeathDate_DT"] = pd.to_datetime(indetifiers["PersonDeathDate"], format ="%Y-%m-%d", errors="coerce" )
indetifiers.head()

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_DT,ExpectedPersonBirthDate_DT,PersonDeathDate_DT
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,NaT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,NaT
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06,NaT
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,NaT
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,NaT

In [3]:
#Dictionary of Lists

child_info= pd.DataFrame( {"ChildID": ["ID1", "ID2", "ID3", "ID4", "ID5"],
                           "Age_First_Contact": [6,12,11,1,19],
                          'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'] })

#List of Disctionaries
NHS_numbers = pd.DataFrame([{"ChildID":"ID1",
                             "NHS Number": "303"},
                             {'ChildID':'id2',
                              'NHS Number':'3u5029'},
                            {'ChildID':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildID':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildID':'id5',
                            'NHS Number': 'varwvw',},])

# child_info
NHS_numbers

  ChildID NHS Number
0     ID1        303
1     id2     3u5029
2     id3       gqw3
3     id4     avsgvb
4     id5     varwvw

In [4]:
from dateutil.relativedelta import relativedelta

child_info ["Birthday_dt"] = pd.to_datetime(child_info["Birthday"], dayfirst=True)
#child_info ["Age"] = relativedelta(pd.to_datetime("today"), )

child_info["Age"] = child_info["Birthday_dt"].apply(lambda row: relativedelta(pd.to_datetime("today"), row).years)
child_info

  ChildID  Age_First_Contact SEX    Birthday CP Plan? Birthday_dt  Age
0     ID1                  6   M  01/01/2002        Y  2002-01-01   23
1     ID2                 12   m  02/02/2003        n  2003-02-02   22
2     ID3                 11   F  01/01/2000        N  2000-01-01   25
3     ID4                  1      03/03/2023       No  2023-03-03    2
4     ID5                 19   F  06/01/2012      yES  2012-01-06   13

In [5]:
indetifiers["Age"] = indetifiers["PersonBirthDate_DT"].apply(lambda x: relativedelta(pd.to_datetime("today"), x).years)
indetifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_DT,ExpectedPersonBirthDate_DT,PersonDeathDate_DT,Age
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,NaT,5
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,NaT,14
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06,NaT,8
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,NaT,11
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,NaT,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT,NaT,15
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT,NaT,7
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT,NaT,3
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT,NaT,12
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT,NaT,4

In [6]:
import openpyxl

filepath = r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx"

df_dict = pd.read_excel(filepath, sheet_name=None)
df_dict

{'Child Data':   ChildID Sex        DOB EHCP issued
 0     id1   M 2014-12-05           N
 1     id6   m 2016-01-06           n
 2     id4   m 2013-11-09           Y
 3     id3   F 2022-12-24           Y
 4     id5   F 2020-01-15         NaN
 5     id7   f 2022-09-17           y,
 'Child extras':   ChildID  Assessment Code
 0     id1                1
 1     id5                2
 2     id4                3
 3     id3                4
 4     id6                5
 5     id7                6,
 'Sheet3':    Assessment Code Assessment Outcome
 0                1                  Y
 1                2                  N
 2                3                  N
 3                4                  n
 4                5                  y
 5                6                  N}

In [7]:
print(child_info.columns)
print(NHS_numbers.columns)

child_info = pd.merge(child_info,NHS_numbers,left_on="ChildID", right_on="ChildID", how="left")
child_info

Index(['ChildID', 'Age_First_Contact', 'SEX', 'Birthday', 'CP Plan?',
       'Birthday_dt', 'Age'],
      dtype='object')
Index(['ChildID', 'NHS Number'], dtype='object')

,ChildID,Age_First_Contact,SEX,Birthday,CP Plan?,Birthday_dt,Age,NHS Number
0,ID1,6,M,01/01/2002,Y,2002-01-01,23,303
1,ID2,12,m,02/02/2003,n,2003-02-02,22,NaN
2,ID3,11,F,01/01/2000,N,2000-01-01,25,NaN
3,ID4,1,,03/03/2023,No,2023-03-03,2,NaN
4,ID5,19,F,06/01/2012,yES,2012-01-06,13,NaN

In [16]:
under_5_cond = child_info["Age"] < 5
ages_5_and_over_cond = child_info["Age"] <=5
under_5_cond
ages_5_and_over_cond
under_5_df = child_info[under_5_cond]
ages_5_and_over_cond
over_5_df = child_info[~ages_5_and_over_cond]
over_5_df

,ChildID,Age_First_Contact,SEX,Birthday,CP Plan?,Birthday_dt,Age,NHS Number
0,ID1,6,M,01/01/2002,Y,2002-01-01,23,303
1,ID2,12,m,02/02/2003,n,2003-02-02,22,NaN
2,ID3,11,F,01/01/2000,N,2000-01-01,25,NaN
4,ID5,19,F,06/01/2012,yES,2012-01-06,13,NaN

In [18]:
over_5 = child_info["Age"] >=5
under_20 = child_info["Age"] <=20
print (over_5)
print(under_20)

condition = over_5 & under_20
print(condition)

0     True
1     True
2     True
3    False
4     True
Name: Age, dtype: bool
0    False
1    False
2    False
3     True
4     True
Name: Age, dtype: bool
0    False
1    False
2    False
3    False
4     True
Name: Age, dtype: bool